/* BLOCKS =================== */


/* Navigation */

.main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    @include brk-points(tablet) {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 20px;
        align-items: center;
        .student-name {
            margin-bottom: 25px;
        }
        ul {
            display: flex;
        }
        ul li {
            margin-right: 10px;
            margin-bottom: 0;
            margin-left: 10px;
            padding: 10px;
            background-color: transparent;
            justify-content: center;
        }
        a {
            display: inline;
        }
    }
    @include brk-points(desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: center;
        ul {
            margin-top: -18px;
        }
        ul li {
            margin-left: 40px;
            padding-right: 0;
            padding-left: 0;
            border-bottom: 3px solid transparent;
        }
        li:hover {
            color: inherit;
            border-bottom: 3px solid $color-sec-dark;
            background-color: inherit;
        }
    }
    .student-name {
        margin-bottom: 20px;
    }
    ul li {
        max-width: 100%;
        margin-bottom: 5px;
        padding: 10px;
    }
    a {
        display: block;
    }
}


/* Skills section */

.skills-section {
    padding-top: 45px;
    padding-bottom: 55px;
    border-radius: 0;
    background-color: $color-sec-medium;
    @include brk-points(tablet) {
        ul li {
            position: relative;
            left: 12.5%;
            display: inline-block;
            float: left;
            width: 25%;
            margin-bottom: 0;
        }
    }
    @include brk-points(desktop) {
        border-radius: 5px 5px 0 0;
        ul li {
            padding-top: 55px;
        }
    }
    .section-headline {
        @extend %medium-margin-btm;
    }
    ul li {
        padding: 0 20px;
        @extend %base-margin-btm;
        &:last-child {
            margin-bottom: 0;
        }
        .skill-thumb {
            display: block;
            width: 100px;
            height: 100px;
            margin: 0 auto 15px;
            border: none;
            border-radius: 50%;
        }
        h3 {
            margin-bottom: 10px;
        }
        #thumb-visual {
            background-color: $color-visual;
            background-image: url(#{$path-img}/skills-thumb-icon_visual.svg);
        }
        #thumb-ux {
            background-color: $color-ux;
            background-image: url(#{$path-img}/skills-thumb-icon_ux.svg);
        }
        #thumb-frontend {
            background-color: $color-frontend;
            background-image: url(#{$path-img}/skills-thumb-icon_frontend.svg);
        }
    }
}


/* Portfolio section */

.portfolio-section {
    padding-top: 45px;
    padding-bottom: 30px;
    border-radius: 0;
    background-color: $color-back;
    @include brk-points(tablet) {
        padding-bottom: 5px;
        .container {
            padding-top: 45px;
            padding-bottom: 60px;
        }
    }
    @include brk-points(desktop) {
        padding-top: 55px;
        padding-right: 22px;
        padding-left: 22px;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 3px $color-shadow;
        .section-headline {
            margin-bottom: 55px;
        }
    }
    .section-headline {
        @extend %medium-margin-btm;
    }
}


/* Contact section  */

.contact-section {
    padding-top: 60px;
    padding-bottom: 60px;
    @include brk-points(tablet) {
        padding-right: 110px;
        padding-left: 110px;
        .section-headline {
            margin-bottom: 45px;
        }
        p {
            margin-bottom: 45px;
        }
        address {
            margin-bottom: 5px;
        }
        p,
        address {
            @include font-size(20);
        }
    }
    @include brk-points(desktop) {
        padding-right: 210px;
        padding-left: 210px;
        .section-headline {
            margin-bottom: 25px;
        }
    }
    .section-headline {
        @extend %base-margin-btm;
    }
    p {
        @extend %base-margin-btm;
    }
}


/* Footer section */

.footer-nav,
.footer-nav ul {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.footer-nav {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid $color-line;
    @include brk-points(tablet) {
        padding-bottom: 85px;
        ul li {
            margin-left: 30px;
        }
    }
    @include brk-points(desktop) {
        padding-bottom: 25px;
    }
    li,
    ul li {
        margin-left: 30px;
        &:last-child {
            margin-left: 0;
        }
    }
}
