/* FRAMEWORK =================== */

body {
    background-color: $color-sec-light;
    @include brk-points(desktop) {
        width: 100%;
        max-width: 964px;
        margin: 0 auto;
    }
}


/* Container */

.container {
    padding: 0 15px;
    @include brk-points(tablet) {
        padding: 0 30px;
    }
}


/* Hide specific features on mobile and tablet */

.mobile-hide {
    display: none;
    @include brk-points(tablet) {
        display: block;
    }
}

.tablet-hide {
    display: block;
    @include brk-points(tablet) {
        display: none;
    }
}
